openapi: 3.0.0
info:
  version: 1.0.0
  title: Itemist
servers:
  - url: 'https://api.itemist.ir'
paths:
  /users/{userId}:
    get:
      summary: 'get user profile: Returns details about a particular user'
      operationId: getUser
      tags:
        - user
      parameters:
        - name: userId
          in: path
          description: ID of the user
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: 'Sample response: Details about a user by ID'
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /cart/checkout:
    get:
      summary: 'get payment link to checkout cart'
      operationId: checkoutCart
      tags:
        - cart
      responses:
        '200':
          description: 'Sample response: payment link for checkout'
          content:
            application/json:
              schema:
                type: object
                properties:
                  paymentUrl:
                    type: string
                    format: string
                required:
                  - paymentUrl
components:
  schemas:
    User:
      type: object
      required:
        - id
        - name
        - avatar
        - tradeUrl
        - wallet
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        avatar:
          type: string
        tradeUrl:
          type: string
        wallet:
          $ref: '#/components/schemas/Wallet'
    Wallet:
      type: object
      required:
        - balance
      properties:
        balance:
          type: integer
          format: int64
    Error:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
